{% extends 'base.html' %}
{% load static %}
{% load animal_filters %}
{% load path_builder %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block navpath %}
{% build_class_path "as-link pad-small" %}
{% build_enrollments_path "as-link pad-small" %}
{% titled_self_path "Request Tokens" "as-link pad-small" %}
{% endblock navpath %}

{% block main %}
<form method="POST" class="std-form margin-auto">
    {% csrf_token %}
    <h1 class="margin-auto">Request Enrollment Tokens</h1>
    {{form}}
    <button class="background-green full-width pad border-radius as-btn" type="submit">Request Tokens</button>
</form>

{% endblock main %}

{% block end %}
<script>
    loadEnrollmentList(getEnrollments("{{class.id}}"));
</script>

{% load_filter_dict %}
{% endblock end %}
